[Desktop Entry]
Name=Smoother5

X-KDE-PluginInfo-Author=Sean Wilson
X-KDE-PluginInfo-Email=suseux@gmail.com
X-KDE-PluginInfo-Name=Smoother5
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=http://half-left.deviantart.com/
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4.14 and above
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false
